
#img_redonda{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
}
#img_redonda1{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    
}

#img_redonda2{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    position: absolute;
    position: initial;
}
